body {
  background-color: black;
  color: #00ff88;
  font-family: monospace;
}

.terminal {
  width: 80%;
  margin: 50px auto;
}

button {
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 5px;
  cursor: pointer;
}

input {
  background: black;
  color: #00ff88;
  border: 1px solid #00ff88;
  padding: 5px;
}
